[Unit]
Description=Cloud9 Web Application Service
 
[Service]
ExecStart=/home/pi/c9sdk/startc9
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=cloud9.service