[Unit]
Description=Service to update IP on LCD
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python /usr/sbin/gethostinfo.py
 
[Install]
WantedBy=multi-user.target
Alias=iptolcd.service

